{% extends 'base.html.twig' %}

{% block title %}
	Chat avec	
{% endblock %}

{% block body %}
	<section class="pt-3">
		<div class="container">
			<div class="row">

				{{ include('chat/_user_list.html.twig', {'users': users, 'receiverId': ''}) }}
				
				<div class="col-lg-8">
					<div class="d-grid mb-0 d-lg-none w-100">
						<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
							<i class="fas fa-sliders-h"></i>
							Menu
						</button>
					</div>

					<div class="vstack gap-4">
						<div class="card border">
							<div class="card-body">
								<div class="d-flex justify-content-center align-items-center">
									<h3>Chat Template</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}