{% extends 'base.html.twig' %}

{% block title %}
	Conversion de devise
{% endblock %}

{% block body %}
    <div class="container col-md-6 pt-3">

        <pre>
            {{ dump(response) }}
        </pre>

        <h1 class="fs-3 fw-semibold">Conversion de devise</h1>

        <form action="{{ path('devise_conversion') }}" method="post">
            <div class="mb-3">
                <label for="amount" class="form-label">Montant</label>
                <input type="number" name="amount" id="amount" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="from_currency" class="form-label">Devise d'origine</label>
                <input type="text" name="from_currency" id="from_currency" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="to_currency" class="form-label">Devise de destination</label>
                <input type="text" name="to_currency" id="to_currency" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Convertir</button>
        </form>
    </div>
{% endblock %}