{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <style>
        .check-success {
            color: #59ba1d;
            font-size: 150px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container col-11 col-md-8">
        <div class="text-center my-5">
            <i class="fa-regular fa-circle-check check-success"></i>
            <p class="mt-5">
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
    </div>
{% endblock %}
