<div class="dropdown">
	<a class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
		<img src="/images/profile_image.jpg" alt="profile image" width="32" height="32" class="rounded-circle me-2">
		<strong>{{ app.user.fullName }}</strong>
	</a>
	<ul class="dropdown-menu text-small shadow">
		<li>
			<a class="dropdown-item" href="{{ path('app_profile') }}">Profile</a>
		</li>
		<li><hr class="dropdown-divider"></li>
		<li>
			<a class="dropdown-item logout-btn rounded" href="{{ path('app_logout') }}">
				<i class="fa-solid fa-power-off me-2"></i>
				Sign out
			</a>
		</li>
	</ul>
</div>
