{% extends 'admin/layout.html.twig' %}

{% block title %}
	Nouvelle catégorie
{% endblock %}

{% block body %}
	<div class="pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Ajouter une nouvelle Catégorie</h1>
	</div>
	<div class="container col-md-11">
		<div class="shadow mt-5 p-5">
			{{ include('category/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
