<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Symfony Blog Techlab{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin_app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('admin_app') }}
    {% endblock %}
</head>
<body class="min-vh-100">
    {% include 'partials/_message.html.twig' %}
    <main id="sidebar-main" class="vh-100 d-flex flex-nowrap overflow-x-auto overflow-y-hidden">
        <div class="offcanvas-lg h-100" tabindex="-1" id="offcanvasSidebar">
            <div class="offcanvas-body h-100">
                {% include 'admin/partials/_sidebar.html.twig' %}
            </div>
        </div>
        <div class="w-100 overflow-auto container">
            <div class="d-lg-none position-fixed top-0 end-0 p-3" style="z-index: 999">
                <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <i class="fa-solid fa-bars"></i>
                    Menu
                </button>
            </div>
            {% block body %}{% endblock %}
        </div>
    </main>
    {% block script %}{% endblock %}
</body>
</html>