@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "~datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.like-button {
    & i {
        transition: all 0.5s ease;
    }

    &:hover i {
        transform: scale(1.1);
    }

    &.liked i {
        color: #e74c3c;
    }
}

.rating-star {
    text-decoration: none;
    &:hover {
        color: #e74c3c;
    }
    &.rated {
        color: #FFEF00;
        &:hover {
            color: #e74c3c;
        }
    }
}