@import "./main.scss";

.like-button {
    & i {
        transition: all 0.5s ease;
    }

    &:hover i {
        transform: scale(1.1);
    }

    &.liked i {
        color: #e74c3c;
    }
}

.rating-star {
    text-decoration: none;
    &:hover {
        color: #e74c3c;
    }
    &.rated {
        color: #FFEF00;
        &:hover {
            color: #e74c3c;
        }
    }
}