<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Symfony Blog Techlab{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% include 'partials/_navbar.html.twig' %}
    {% include 'partials/_message.html.twig' %}

    <div class="scroll-top">
        <button id="scroll-top-btn" class="btn btn-primary">
            <i class="fa-solid fa-arrow-up"></i>
        </button>
    </div>

    <div class="pt-3 mt-5"> 
        {% block body %}{% endblock %}
    </div>
    {% include 'partials/_footer.html.twig' %}
    {% block script %}{% endblock %}
</body>
</html>
