{% extends 'base.html.twig' %}

{% block title %}
	Liste des articles
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('article_list') }}
{% endblock %}

{% block body %}
	<h1 class="text-center">Liste des articles</h1>
	<div class="container col-md-10">
		<div class="card">
			<div class="card-body">
				<table class="table table-hover align-middle" id="articles-table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Titre</th>
							<th>Catégories</th>
							<th>Commentaires</th>
							<th>J'aime</th>
							<th>Note Moyenne</th>
							<th>Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
