{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

<div class="container col-md-7">
    <div class="card shadow mt-5">
        <div class="card-body">
            <h1>Ajouter un Article</h1>
            {{ include('article/_form.html.twig') }}
            <a href="{{ path('app_article_index') }}" class="btn btn-success">back to list</a>
        </div>
    </div>
</div>

{% endblock %}
