{% if app.user %}
	{{ form_start(
		commentForm, {
			"attr": {
				"id": "comment-form",
				"action": path('api_article_comment', {'id': article.id})
			}
		})
	}}
		<legend>
			<i class="fa fa-comment"></i> Laisser un commentaire
		</legend>
		<div class="mb-3" id="content-row">
			{{ form_widget(commentForm.content) }}
		</div>
		<div class="d-flex justify-content-end">
			<button type="submit" class="btn btn-outline-primary">
				<i class="fa fa-paper-plane"></i>
				Commenter
			</button>
		</div>
	{{ form_end(commentForm) }}
{% else %}
	<div class="ms-3">
		<a href="{{ path('app_login') }}" class="btn btn-primary me-3">
			<i class="fa fa-sign-in"></i>
			Connectez-vous
		</a>
		pour publier un commentaire 
	</div>
{% endif %}
